/* Global styles */

a {
  text-decoration: none !important;
}

.floating-alert {
  display: none;
  position: absolute;
  z-index: 999;
  bottom: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  color: black;
  padding: 20px;
  left: 20px;
  -moz-animation: floatingAlert ease-in 5s forwards;
  -webkit-animation: floatingAlert ease-in 5s forwards;
  -o-animation: floatingAlert ease-in 5s forwards;
  animation: floatingAlert ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.floating-alerts .floating-alert:last-of-type {
  display: block;
}

@keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
  }
}

@-webkit-keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
  }
}
